Chapter 07/node_red_http_request.json
[
    {
        "id": "82e92835ba064b30",
        "type": "inject",
        "z": "776cac42b2d61632",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "ad5cce78e3336c0a"
            ]
        ]
    },
    {
        "id": "ad5cce78e3336c0a",
        "type": "http request",
        "z": "776cac42b2d61632",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/office/door",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "861e5152a15a652a"
            ]
        ]
    },
    {
        "id": "861e5152a15a652a",
        "type": "debug",
        "z": "776cac42b2d61632",
        "name": "debug http",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    }
]